<div class="container">

</div>
<div class="card">
    <h2 class="card-header">Create Time Table</h2>
    <div class="container-fluid">
        <div class="card-body">
            <form [formGroup]="timeTableForm" #formDir="ngForm" novalidate>
                <div>
                    <div class="form-row align-items-center">

                        <div class="form-group col-md-3">
                            <label class=" control-label col-md-12" for="CourseId">Course</label>
                            <div class="col-md-12">
                                <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && CourseId.valid || CourseId.touched && CourseId.valid || CourseId.dirty && CourseId.valid, 'is-invalid' :formDir.submitted && !CourseId.valid || CourseId.touched && !CourseId.valid || CourseId.dirty  && !CourseId.valid}" (change)="OnCourseSelection($event)" formControlName="CourseId">
                                    <option value="">Choose...</option>
                                    <option *ngFor="let c of courseList" [value]="c.id">{{c.name}}</option>
                                </select>
                                <span class="invalid-feedback" *ngIf="!CourseId.valid && formDir.submitted || CourseId.touched && !CourseId.valid || CourseId.dirty  && !CourseId.valid">
                                    Course is required.
                                </span>
                                <span class="valid-feedback" *ngIf="CourseId.valid && formDir.submitted || CourseId.touched && CourseId.valid || CourseId.dirty && CourseId.valid">

                                </span>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class=" control-label col-md-12" for="BatchId">Batch</label>
                            <div class="col-md-12">
                                <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && BatchId.valid || BatchId.touched && BatchId.valid || BatchId.dirty && BatchId.valid, 'is-invalid' :formDir.submitted && !BatchId.valid || BatchId.touched && !BatchId.valid || BatchId.dirty  && !BatchId.valid}" type="text" formControlName="BatchId">
                                    <option value="">Choose...</option>
                                    <option *ngFor="let b of subBatchList" [value]="b.id">{{b.name}}</option>
                                </select>
                                <span class="invalid-feedback" *ngIf="!BatchId.valid && formDir.submitted || BatchId.touched && !BatchId.valid || BatchId.dirty  && !BatchId.valid">
                                    Batch is required.
                                </span>
                                <span class="valid-feedback" *ngIf="BatchId.valid && formDir.submitted || BatchId.touched && BatchId.valid || BatchId.dirty && BatchId.valid">

                                </span>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label class=" control-label col-md-12" for="Name">Name</label>
                            <div class="col-md-12">
                                <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Name.valid || Name.touched && Name.valid || Name.dirty && Name.valid, 'is-invalid' :formDir.submitted && !Name.valid || Name.touched && !Name.valid || Name.dirty  && !Name.valid}" type="text" formControlName="Name">
                                <span class="invalid-feedback" *ngIf="!Name.valid && formDir.submitted || Name.touched && !Name.valid || Name.dirty  && !Name.valid">
                                    Name is required.
                                </span>
                                <span class="valid-feedback" *ngIf="Name.valid && formDir.submitted || Name.touched && Name.valid || Name.dirty && Name.valid">

                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary" type="button" (click)="SetWeekDays()">Set Week Days</button>
                        </div>
                    </div>


                </div>

                <div class="card" *ngIf="daysList">
                    <h5 class="card-header">Time Table</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="container-fluid">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let day of daysList" data-id="{{day}}">
                                            <td>
                                                {{day}}<br />
                                                <a href="javascript:;" (click)="ShowPeriodModel(day)">Assign</a>
                                            </td>
                                            <ng-container *ngFor="let slot of periodList">
                                                <td *ngIf="slot.Day==day">

                                                    {{slot.StartTime}}-{{slot.EndTime}}<br />
                                                    <b>
                                                        {{slot.SubjectName}}
                                                        <br />
                                                        <span *ngIf="!slot.TeacherName">
                                                           <a *ngIf='slot.SubjectName!="Break"' href="javascript:;" (click)="onFacultyModel(slot.Id)">Select Faculty</a>
                                                        </span>
                                                        <span *ngIf="slot.TeacherName">
                                                            {{slot.TeacherName}}
                                                        </span>
                                                    </b>

                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body float-right">
                            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-primary" (click)="SaveToDataBase()">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



<!--Model Add Week Days-->
<div class="modal fade" bsModal #weekDayModal="bs-modal" (onHidden)="onDaysModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Select Week Days</h4>
                <button type="button" class="close pull-right" title="Close" (click)="weekDayModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Monday">
                        <label class="form-check-label" for="Monday">
                            Monday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Tuesday">
                        <label class="form-check-label" for="Tuesday">
                            Tuesday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Wednesday">
                        <label class="form-check-label" for="Wednesday">
                            Wednesday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Thursday">
                        <label class="form-check-label" for="Thursday">
                            Thursday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Friday">
                        <label class="form-check-label" for="Friday">
                            Friday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Saturday">
                        <label class="form-check-label" for="Saturday">
                            Saturday
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Sunday">
                        <label class="form-check-label" for="Sunday">
                            Sunday
                        </label>
                    </div>
                    <br />
                    <div class="border-top">
                        <div class="card-body float-right">
                            <button type="submit" class="btn btn-primary" (click)="saveWeekDays()">Submit</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<!--Model Add Period-->
<div class="modal fade" bsModal #periodModal="bs-modal" (onHidden)="onPeriodModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create Period Timings for {{DayName}}</h4>
                <button type="button" class="close pull-right" title="Close" (click)="periodModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="periodForm">
                    <div class="form-row align-items-center">
                        <div class="form-group col-md-3">
                            <label for="Name"></label>
                            <select class="form-control" data-val="true" id="SubjectName">
                                <option value="Break">Break</option>
                                <option *ngFor="let s of subjectList" [value]="s.id">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="StartTime"></label>
                            <input class="form-control" type="time" id="StartTime">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="EndTime"></label>
                            <input class="form-control" type="time" id="EndTime">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="AddPeriod()">Add Period</button>
                    </div>

                </form>
                <div class="table-responsive">
                    <table *ngIf="daysList" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>StartTime</th>
                                <th>EndTime</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of newList">
                                <td>{{p.SubjectName}}</td>
                                <td>{{p.StartTime}}</td>
                                <td>{{p.EndTime}}</td>
                                <td><button type="button" class="btn btn-danger" (click)="remove(p.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="border-top">
                    <div class="card-body float-right">
                        <button type="submit" class="btn btn-primary" (click)="CreateTimeTable()">Create TimeTable</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Model Assign Teacher-->
<div class="modal fade" bsModal #selectFacultyModal="bs-modal" (onHidden)="onFacultyModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Assign Faculty</h4>
                <button type="button" class="close pull-right" title="Close" (click)="selectFacultyModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Teacher"></label>
                        <select id="Teacher" class="form-control">
                            <option *ngFor="let t of teacherList" [value]="t.id">{{t.personalDetails.firstName}} {{t.personalDetails.lastName}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" (click)="AssignFaculty()">Assign</button>
                </form>
            </div>
        </div>
    </div>
</div>
