<br />
<div class="card">
    <div class="card-body">
        <p *ngIf="!dList"><em>Loading...</em></p>
        <div class="card-title">
            <h2>Elective Subjects</h2>
            <a [routerLink]="['/add-electivesubject']" class="btn btn-success">Create New</a>
        </div>

        <table class='table table-bordered' *ngIf="dList" id="dttable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Batch</th>
                    <th>Subject</th>
                    <th>Student</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of dList">
                    <td>{{subject.id}}</td>
                    <td>{{subject.course.name}}</td>
                    <td>{{subject.batch.name}}</td>
                    <td>{{subject.subject.name}}</td>
                    <td>{{subject.student.registerNumber}}</td>
                    <td>
                        <a [routerLink]="['/electivesubject/edit/',subject.id]" class="btn btn-default">Edit</a>
                        <a [routerLink]="" (click)="delete(subject.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
