<br />
<div class="card">
    <div class="card-body">
        <p *ngIf="!dList"><em>Loading...</em></p>
        <div class="card-title">
            <h2>List of Student Category</h2>
            <a [routerLink]="['/add-studentcategory']" class="btn btn-success">Create New</a>
        </div>

        <table class='table table-bordered' *ngIf="dList" id="dttable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of dList">
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>
                        <a [routerLink]="['/studentcategory/edit/',s.id]" class="btn btn-default">Edit</a>
                        <a [routerLink]="" (click)="delete(s.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
