<div class="">
    <div class="container-fluid">
        <header class="pageHeader">
            <h3><i class="fa fa-cog fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Settings' | translate}}</h3>
        </header>

        <div [@fadeInOut] class="row">
            <div class="col-sm-2 side-menu">
                <ul bootstrapTab #tab="bootstrap-tab" class="nav nav-tabs tabs-left" (showBSTab)="onShowTab($event)">
                    <li class="nav-item active">
                        <a id="profileTab" class="nav-link"  fragment="profile" href="#profile" data-toggle="tab"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> {{'settings.tab.Profile' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a id="preferencesTab" class="nav-link"  fragment="preferences" href="#preferences" data-toggle="tab"><i class="fa fa-sliders fa-fw" aria-hidden="true"></i> {{'settings.tab.Preferences' | translate}}</a>
                    </li>
                    <li [hidden]="!canViewUsers" class="nav-item">
                        <a id="usersTab"  fragment="users" class="nav-link" href="#users" data-toggle="tab"><i class="fa fa-users fa-fw" aria-hidden="true"></i> {{'settings.tab.Users' | translate}}</a>
                    </li>
                    <li [hidden]="!canViewRoles" class="nav-item">
                        <a id="rolesTab"  fragment="roles" class="nav-link" href="#roles" data-toggle="tab"><i class="fa fa-shield fa-fw" aria-hidden="true"></i> {{'settings.tab.Roles' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="tab-content" >
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profileTab">
                        <h4>{{'settings.header.UserProfile' | translate}}</h4>
                        <hr class="separator-hr" />
                        <div [@fadeInOut] *ngIf="isProfileActivated" class="content-container">
                            <user-info></user-info>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="preferencesTab">
                        <h4>{{'settings.header.UserPreferences' | translate}}</h4>
                        <hr class="separator-hr" />
                        <div [@fadeInOut] *ngIf="isPreferencesActivated" class="content-container">
                            <user-preferences></user-preferences>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="usersTab">
                        <h4>{{'settings.header.UsersManagements' | translate}}</h4>
                        <hr class="separator-hr" />
                        <div [@fadeInOut] *ngIf="canViewUsers && isUsersActivated" class="content-container">
                            <users-management></users-management>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="roles"  role="tabpanel" aria-labelledby="rolesTab">
                        <h4>{{'settings.header.RolesManagement' | translate}}</h4>
                        <hr class="separator-hr" />
                        <div [@fadeInOut] *ngIf="canViewRoles && isRolesActivated" class="content-container">
                            <roles-management></roles-management>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
