<br />
<div class="card">
    <div class="card-body">

        <div class="card-title">
            <h1 class="card-header"> Generate Student ID Cards</h1>
        </div>
        <!--Filter Data-->
        <form [formGroup]="studentForm" (ngsubmit)="print()" #f="ngForm" novalidate>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="Course">Course</label>
                    <select formControlName="Course" class="form-control" (change)="OnCourseSelection($event)">
                        <option value="">Choose...</option>
                        <option *ngFor="let c of courseList" [value]="c.name">{{c.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4" *ngIf="IsCourseSelected">
                    <label for="Batch">Batch</label>
                    <select formControlName="Batch" class="form-control" (change)="OnBatchChange($event)">
                        <option value="">Choose...</option>
                        <option *ngFor="let b of subBatchList" [value]="b.name">{{b.name}}</option>
                    </select>
                </div>
            </div>

        </form>
        <div *ngIf="!dList && IsCourseSelected"><em>No Record...</em></div>


    </div>

</div>
<br />
<div class="card" *ngIf="dList">
    <h2 class="card-header">Student Cards</h2>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2" *ngFor="let stu of dList">
                <div class="card student-id">
                    <h5 class="card-header student-header">Student ID</h5>
                    <div class="card-body">
                        <div class="student-img">
                            <img src="https://www.spotteron.net/images/icons/user60.png" width="216">
                        </div>
                        <p class="student-body">
                            <b>
                                RegNo: {{stu.registerNumber}}<br />
                                Name: {{stu.personalDetails.firstName}} {{stu.personalDetails.lastName}}<br />
                                Course: {{stu.course}}<br />
                                Batch: {{stu.batch}}<br />
                                Roll No: {{stu.rollNo}}<br /><br />
                                <kbd>Valid till: June 2020</kbd>
                            </b><br />
                        </p>

                    </div>
                </div>

            </div>
        </div>
        <div class="border-top">
            <div class="card-body float-left">
                <button type="submit" class="btn btn-primary" (click)="PrintIDCard()">Print ID Cards</button>
            </div>
        </div>
    </div>
</div>
