<br />
<div class="card">
    <div class="card-body">
        <p *ngIf="!dList"><em>Loading...</em></p>
        <div class="card-title">
            <h2>List of Courses</h2>
            <a [routerLink]="['/add-course']" class="btn btn-success">Create New</a>    
        </div>

        <table class='table table-bordered' *ngIf="dList" id="dttable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Max Attendance</th>
                    <th>Total Working Days</th>
                    <th>Syllabus Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of dList">
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.dscription}}</td>
                    <td>{{course.code}}</td>
                    <td>{{course.maxAttandencePercentage}}</td>
                    <td>{{course.totalWorkingDays}}</td>
                    <td>{{course.syllabusName}}</td>

                    <td>

                        <a [routerLink]="['/course/edit/',course.id]" class="btn btn-default">Edit</a>
                        <a [routerLink]="" (click)="delete(course.id)" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
