<div class="container">
    <div class="card">
        <div class="container-fluid">

            <div class="card-body">
                <div class="card-title">

                    <h1>{{title}} Caste</h1>

                </div>

                <form [formGroup]="casteForm" (ngsubmit)="save()" #formDir="ngForm" novalidate>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Name">Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Name.valid || Name.touched && Name.valid || Name.dirty && Name.valid, 'is-invalid' :formDir.submitted && !Name.valid || Name.touched && !Name.valid || Name.dirty  && !Name.valid}" type="text" formControlName="Name">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Name.valid || Name.touched && !Name.valid || Name.dirty  && !Name.valid">
                                        Name is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Name.valid || Name.touched && Name.valid || Name.dirty && Name.valid">
                                        Woohoo!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                                <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>


                </form>


            </div>
        </div>

    </div>
</div>
