
<div class="row">



    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="card-title">

                    <h1>Caste And Religion</h1>


                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-caste-tab" data-toggle="tab" href="#nav-caste" role="tab" aria-controls="nav-caste" aria-selected="true">Student Caste</a>
                        <a class="nav-item nav-link" id="nav-religion-tab" data-toggle="tab" href="#nav-religion" role="tab" aria-controls="nav-religion" aria-selected="false">Student Religion</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-caste" role="tabpanel" aria-labelledby="nav-caste-tab">
                       Loading...
                    </div>
                    <div class="tab-pane fade" id="nav-religion" role="tabpanel" aria-labelledby="nav-religion-tab">
                        Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
