<form [formGroup]="employeeForm" (ngsubmit)="save()" #f="ngForm" novalidate>
    <div class="container-fluid">
        <div class="card">
            <h1 class="card-header">Employee Registration</h1>
            <div class="card-body">
                <div class="card">
                    <h5 class="card-header"> Employee Details</h5>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="EmployeeCode">Employee Code</label>
                                <input type="text" class="form-control" formControlName="EmployeeCode">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="JoiningDate">Joining Date</label>
                                <input type="date" class="form-control" formControlName="JoiningDate">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Department">Department</label>
                                <select formControlName="Department" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Designation">Designation</label>
                                <select formControlName="Designation" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Qualification">Qualification</label>
                                <input type="text" class="form-control" formControlName="Qualification">
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="TotalExperience">Total Experience</label>
                                <input type="text" class="form-control" formControlName="TotalExperience">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="UserType">User Type</label>
                                <select id="UserType" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header">Personel Details</h5>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="FirstName">First Name</label>
                                    <input type="text" class="form-control" formControlName="personalDetails_FirstName">
                                </div>
                                <div class="form-group row">
                                    <label for="MiddleName">Middle Name</label>
                                    <input type="text" class="form-control" formControlName="personalDetails_MiddleName">
                                </div>
                                <div class="form-group row">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" class="form-control" formControlName="personalDetails_LastName">
                                </div>
                                <div class="form-group row">
                                    <label for="DateOfBirth">Date of Birth</label>
                                    <input type="date" class="form-control" formControlName="personalDetails_DateOfBirth">
                                </div>
                                <div class="form-group row">
                                    <label for="Gender">Gender</label>
                                    <select formControlName="personalDetails_Gender" class="form-control">
                                        <option value="">Choose...</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label for="CNIC">CNIC Number</label>
                                    <input type="text" class="form-control" formControlName="personalDetails_CNIC">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <h5 class="card-header">Contact Details</h5>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="PresentAddress">Present Address</label>
                                    <input type="text" class="form-control" formControlName="contactDetails_PresentAddress">
                                </div>
                                <div class="form-group row">
                                    <label for="PermanentAddress">Permanent Address</label>
                                    <input type="text" class="form-control" formControlName="contactDetails_PermanentAddress">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="City">City</label>
                                        <input type="text" class="form-control" formControlName="contactDetails_City">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="PostalCode">Postal Code</label>
                                        <input type="text" class="form-control" formControlName="contactDetails_PostalCode">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="contactDetails_LastName">Country</label>
                                        <select class="form-control" formControlName="contactDetails_Country">
                                            <option value="">Choose...</option>
                                            <option value="Male">Pakistan</option>
                                            <option value="Female">Canada</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="contactDetails_State">State</label>
                                        <select class="form-control" formControlName="contactDetails_State">
                                            <option value="">Choose...</option>
                                            <option value="...">...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="contactDetails_Phone">Phone</label>
                                        <input type="text" class="form-control" formControlName="contactDetails_Phone">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="contactDetails_Mobile">Mobile</label>
                                        <input type="text" class="form-control" formControlName="contactDetails_Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contactDetails_Email">Email</label>
                                    <input type="Email" class="form-control" formControlName="contactDetails_Email">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body float-right">
                        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                        <button type="button" class="btn btn-primary"  (click)="save()">Submit</button>
                    </div>
                </div>
            </div>

        </div>
        </div>
</form>
