<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="fetch-institute">Institute</a></li>
                        <li class="breadcrumb-item"><a>Index</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="container-fluid">

            <div class="card-body">
                <div class="card-title">

                    <h1>{{title}} Institute</h1>

                </div>

                <form [formGroup]="instituteForm" (ngsubmit)="save()" #formDir="ngForm" novalidate>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">

                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Name">Institute Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Name.valid || Name.touched && Name.valid || Name.dirty && Name.valid, 'is-invalid' :formDir.submitted && !Name.valid || Name.touched && !Name.valid || Name.dirty  && !Name.valid}" type="text" formControlName="Name">
                                    <span class="invalid-feedback" *ngIf="!Name.valid && formDir.submitted || Name.touched && !Name.valid || Name.dirty  && !Name.valid">
                                        Name is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="Name.valid && formDir.submitted || Name.touched && Name.valid || Name.dirty && Name.valid">
                                        Woohoo!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Email">Institute Email</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Email.valid || Email.touched && Email.valid || Email.dirty && Email.valid, 'is-invalid' :formDir.submitted && !Email.valid || Email.touched && !Email.valid || Email.dirty  && !Email.valid}" formControlName="Email">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Email.valid || Email.touched && !Email.valid || Email.dirty  && !Email.valid">
                                        <span *ngIf="Email.errors.required">  Email is required.</span>
                                        <span *ngIf="Email.errors.pattern">Email not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf=" formDir.submitted && Email.valid || Email.touched && Email.valid || Email.dirty && Email.valid">
                                        Woohoo!
                                    </span>
                                </div>


                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Admin">Admin Contact Person</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Admin.valid || Admin.touched && Admin.valid || Admin.dirty && Admin.valid, 'is-invalid' :formDir.submitted && !Admin.valid || Admin.touched && !Admin.valid || Admin.dirty  && !Admin.valid}" type="text" formControlName="Admin">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Admin.valid || Admin.touched && !Admin.valid || Admin.dirty  && !Admin.valid">
                                        Admin is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Admin.valid || Admin.touched && Admin.valid || Admin.dirty && Admin.valid">
                                        Woohoo!
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Languange">Languange</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && Languange.valid || Languange.touched && Languange.valid || Languange.dirty && Languange.valid, 'is-invalid' :formDir.submitted && !Languange.valid || Languange.touched && !Languange.valid || Languange.dirty  && !Languange.valid}" data-val="true" formControlName="Languange">
                                        <option value="">-- Select Language --</option>
                                        <option value="English">English</option>
                                        <option value="Urdu">Urdu</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Languange.valid || Languange.touched && !Languange.valid || Languange.dirty  && !Languange.valid">
                                        Languange is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Languange.valid || Languange.touched && Languange.valid || Languange.dirty && Languange.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Code">Institute Code</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Code.valid || Code.touched && Code.valid || Code.dirty && Code.valid, 'is-invalid' :formDir.submitted && !Code.valid || Code.touched && !Code.valid || Code.dirty  && !Code.valid}" type="text" formControlName="Code">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Code.valid || Code.touched && !Code.valid || Code.dirty  && !Code.valid">
                                        Code is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Code.valid || Code.touched && Code.valid || Code.dirty && Code.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="TimeZone">TimeZone</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && TimeZone.valid || TimeZone.touched && TimeZone.valid || TimeZone.dirty && TimeZone.valid, 'is-invalid' :formDir.submitted && !TimeZone.valid || TimeZone.touched && !TimeZone.valid || TimeZone.dirty  && !TimeZone.valid}" data-val="true" formControlName="TimeZone">
                                        <option value="">-- Select TimeZone --</option>
                                        <option value="Pakistan (GMT+5)">Pakistan (GMT+5)</option>
                                        <option value="USA (GMT-4)">USA (GMT-4)</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !TimeZone.valid || TimeZone.touched && !TimeZone.valid || TimeZone.dirty  && !TimeZone.valid">
                                        TimeZone is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && TimeZone.valid || TimeZone.touched && TimeZone.valid || TimeZone.dirty && TimeZone.valid">
                                        Woohoo!
                                    </span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Address">Institute Address</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && Address.valid || Address.touched && Address.valid || Address.dirty && Address.valid, 'is-invalid' :formDir.submitted && !Address.valid || Address.touched && !Address.valid || Address.dirty  && !Address.valid}" type="text" formControlName="Address">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Address.valid || Address.touched && !Address.valid || Address.dirty  && !Address.valid">
                                        Address is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Address.valid || Address.touched && Address.valid || Address.dirty && Address.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-12" for="Country">Country</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && Country.valid || Country.touched && Country.valid || Country.dirty && Country.valid, 'is-invalid' :formDir.submitted && !Country.valid || Country.touched && !Country.valid || Country.dirty  && !Country.valid}" data-val="true" formControlName="Country">
                                        <option value="">-- Select Country --</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="USA">USA</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Country.valid || Country.touched && !Country.valid || Country.dirty  && !Country.valid">
                                        Country is required
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Country.valid || Country.touched && Country.valid || Country.dirty && Country.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Phone">Institute Phone</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 0401234567" class="form-control" [ngClass]="{'is-valid': formDir.submitted && Phone.valid || Phone.touched && Phone.valid || Phone.dirty && Phone.valid, 'is-invalid' :formDir.submitted && !Phone.valid || Phone.touched && !Phone.valid || Phone.dirty  && !Phone.valid}" formControlName="Phone">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Phone.valid || Phone.touched && !Phone.valid || Phone.dirty  && !Phone.valid">
                                        <span *ngIf="Phone.errors.required">  Phone is required.</span>
                                        <span *ngIf="Phone.errors.pattern">Phone not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Phone.valid || Phone.touched && Phone.valid || Phone.dirty && Phone.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Mobile">Institute Mobile</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 03001234567" class="form-control" [ngClass]="{'is-valid': formDir.submitted && Mobile.valid || Mobile.touched && Mobile.valid || Mobile.dirty && Mobile.valid, 'is-invalid' :formDir.submitted && !Mobile.valid || Mobile.touched && !Mobile.valid || Mobile.dirty  && !Mobile.valid}" formControlName="Mobile">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Mobile.valid || Mobile.touched && !Mobile.valid || Mobile.dirty  && !Mobile.valid">
                                        <span *ngIf="Mobile.errors.required">  Mobile is required.</span>
                                        <span *ngIf="Mobile.errors.pattern">Mobile not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Mobile.valid || Mobile.touched && Mobile.valid || Mobile.dirty && Mobile.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="Fax">Institute Fax</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 0401234567"
                                           class="form-control"
                                           [ngClass]="{'is-valid': formDir.submitted && Fax.valid || Fax.touched && Fax.valid || Fax.dirty && Fax.valid, 'is-invalid' :formDir.submitted && !Fax.valid || Fax.touched && !Fax.valid || Fax.dirty  && !Fax.valid}" formControlName="Fax">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !Fax.valid || Fax.touched && !Fax.valid || Fax.dirty  && !Fax.valid">
                                        <span *ngIf="Fax.errors.required">  Fax is required.</span>
                                        <span *ngIf="Fax.errors.pattern">Fax not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && Fax.valid || Fax.touched && Fax.valid || Fax.dirty && Fax.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>


                        </div>

                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                            <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>


                </form>


            </div>
        </div>

    </div>
</div>

