<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="fetch-institute">Institute</a></li>
                        <li class="breadcrumb-item"><a  >Index</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="container-fluid">

            <div class="card-body">
                <div class="card-title">

                    <h1>{{title}} Institute</h1>

                </div>

                <form [formGroup]="instituteForm" (ngsubmit)="save()" #formDir="ngForm" novalidate>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">

                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="name">Institute Name</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && name.valid || name.touched && name.valid || name.dirty && name.valid, 'is-invalid' :formDir.submitted && !name.valid || name.touched && !name.valid || name.dirty  && !name.valid}" type="text" formControlName="name">
                                    <span class="invalid-feedback" *ngIf="!name.valid && formDir.submitted || name.touched && !name.valid || name.dirty  && !name.valid">
                                        Name is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="name.valid && formDir.submitted || name.touched && name.valid || name.dirty && name.valid">
                                        Woohoo!
                                    </span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="email">Institute Email</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && email.valid || email.touched && email.valid || email.dirty && email.valid, 'is-invalid' :formDir.submitted && !email.valid || email.touched && !email.valid || email.dirty  && !email.valid}" formControlName="email">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !email.valid || email.touched && !email.valid || email.dirty  && !email.valid">
                                        <span *ngIf="email.errors.required">  Email is required.</span>
                                        <span *ngIf="email.errors.pattern">Email not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf=" formDir.submitted && email.valid || email.touched && email.valid || email.dirty && email.valid">
                                        Woohoo!
                                    </span>
                                </div>


                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="admin">Admin Contact Person</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && admin.valid || admin.touched && admin.valid || admin.dirty && admin.valid, 'is-invalid' :formDir.submitted && !admin.valid || admin.touched && !admin.valid || admin.dirty  && !admin.valid}" type="text" formControlName="admin">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !admin.valid || admin.touched && !admin.valid || admin.dirty  && !admin.valid">
                                        Admin is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && admin.valid || admin.touched && admin.valid || admin.dirty && admin.valid">
                                        Woohoo!
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="languange">Language</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && languange.valid || languange.touched && languange.valid || languange.dirty && languange.valid, 'is-invalid' :formDir.submitted && !languange.valid || languange.touched && !languange.valid || languange.dirty  && !languange.valid}" data-val="true" formControlName="languange">
                                        <option value="">-- Select Language --</option>
                                        <option value="English">English</option>
                                        <option value="Urdu">Urdu</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !languange.valid || languange.touched && !languange.valid || languange.dirty  && !languange.valid">
                                        Language is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && languange.valid || languange.touched && languange.valid || languange.dirty && languange.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>


                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="code">Institute Code</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && code.valid || code.touched && code.valid || code.dirty && code.valid, 'is-invalid' :formDir.submitted && !code.valid || code.touched && !code.valid || code.dirty  && !code.valid}" type="text" formControlName="code">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !code.valid || code.touched && !code.valid || code.dirty  && !code.valid">
                                        Code is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && code.valid || code.touched && code.valid || code.dirty && code.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="timeZone">TimeZone</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && timeZone.valid || timeZone.touched && timeZone.valid || timeZone.dirty && timeZone.valid, 'is-invalid' :formDir.submitted && !timeZone.valid || timeZone.touched && !timeZone.valid || timeZone.dirty  && !timeZone.valid}" data-val="true" formControlName="timeZone">
                                        <option value="">-- Select TimeZone --</option>
                                        <option value="Pakistan (GMT+5)">Pakistan (GMT+5)</option>
                                        <option value="USA (GMT-4)">USA (GMT-4)</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !timeZone.valid || timeZone.touched && !timeZone.valid || timeZone.dirty  && !timeZone.valid">
                                        TimeZone is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && timeZone.valid || timeZone.touched && timeZone.valid || timeZone.dirty && timeZone.valid">
                                        Woohoo!
                                    </span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="address">Institute Address</label>
                                <div class="col-md-12">
                                    <input class="form-control" [ngClass]="{'is-valid': formDir.submitted && address.valid || address.touched && address.valid || address.dirty && address.valid, 'is-invalid' :formDir.submitted && !address.valid || address.touched && !address.valid || address.dirty  && !address.valid}" type="text" formControlName="address">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !address.valid || address.touched && !address.valid || address.dirty  && !address.valid">
                                        Address is required.
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && address.valid || address.touched && address.valid || address.dirty && address.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="control-label col-md-12" for="country">Country</label>
                                <div class="col-md-12">
                                    <select class="form-control" [ngClass]="{'is-valid': formDir.submitted && country.valid || country.touched && country.valid || country.dirty && country.valid, 'is-invalid' :formDir.submitted && !country.valid || country.touched && !country.valid || country.dirty  && !country.valid}" data-val="true" formControlName="country">
                                        <option value="">-- Select Country --</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="USA">USA</option>
                                    </select>
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !country.valid || country.touched && !country.valid || country.dirty  && !country.valid">
                                        Country is required
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && country.valid || country.touched && country.valid || country.dirty && country.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="phone">Institute Phone</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 0401234567" class="form-control" [ngClass]="{'is-valid': formDir.submitted && phone.valid || phone.touched && phone.valid || phone.dirty && phone.valid, 'is-invalid' :formDir.submitted && !phone.valid || phone.touched && !phone.valid || phone.dirty  && !phone.valid}" formControlName="phone">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !phone.valid || phone.touched && !phone.valid || phone.dirty  && !phone.valid">
                                        <span *ngIf="phone.errors.required">  Phone is required.</span>
                                        <span *ngIf="phone.errors.pattern">Phone not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && phone.valid || phone.touched && phone.valid || phone.dirty && phone.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="mobile">Institute Mobile</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 03001234567" class="form-control" [ngClass]="{'is-valid': formDir.submitted && mobile.valid || mobile.touched && mobile.valid || mobile.dirty && mobile.valid, 'is-invalid' :formDir.submitted && !mobile.valid || mobile.touched && !mobile.valid || mobile.dirty  && !mobile.valid}" formControlName="mobile">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !mobile.valid || mobile.touched && !mobile.valid || mobile.dirty  && !mobile.valid">
                                        <span *ngIf="mobile.errors.required">  Mobile is required.</span>
                                        <span *ngIf="mobile.errors.pattern">Mobile not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && mobile.valid || mobile.touched && mobile.valid || mobile.dirty && mobile.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class=" control-label col-md-12" for="fax">Institute Fax</label>
                                <div class="col-md-12">
                                    <input placeholder="eg: 0401234567"
                                           class="form-control"
                                           [ngClass]="{'is-valid': formDir.submitted && fax.valid || fax.touched && fax.valid || fax.dirty && fax.valid, 'is-invalid' :formDir.submitted && !fax.valid || fax.touched && !fax.valid || fax.dirty  && !fax.valid}" formControlName="fax">
                                    <span class="invalid-feedback" *ngIf="formDir.submitted && !fax.valid || fax.touched && !fax.valid || fax.dirty  && !fax.valid">
                                        <span *ngIf="fax.errors.required">  Fax is required.</span>
                                        <span *ngIf="fax.errors.pattern">Fax not valid.</span>
                                    </span>
                                    <span class="valid-feedback" *ngIf="formDir.submitted && fax.valid || fax.touched && fax.valid || fax.dirty && fax.valid">
                                        Woohoo!
                                    </span>
                                </div>

                            </div>


                        </div>
                        <input class="form-control" type="hidden" formControlName="createdBy">
                        <input class="form-control" type="hidden" formControlName="updatedBy">
                        <input class="form-control" type="hidden" formControlName="createdDate">
                        <input class="form-control" type="hidden" formControlName="updatedDate">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                            <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>


                </form>


            </div>
        </div>

    </div>
</div>
